<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Android 11+ Package Visibility - CRITICAL for url_launcher -->
    <queries>
        <!-- WhatsApp -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />

        <!-- Telegram -->
        <package android:name="org.telegram.messenger" />
        <package android:name="org.telegram.messenger.web" />

        <!-- Viber -->
        <package android:name="com.viber.voip" />

        <!-- Signal -->
        <package android:name="org.thoughtcrime.securesms" />

        <!-- WeChat -->
        <package android:name="com.tencent.mm" />

        <!-- LINE -->
        <package android:name="jp.naver.line.android" />

        <!-- Messenger -->
        <package android:name="com.facebook.orca" />

        <!-- Discord -->
        <package android:name="com.discord" />

        <!-- Instagram -->
        <package android:name="com.instagram.android" />

        <!-- Twitter/X -->
        <package android:name="com.twitter.android" />

        <!-- Snapchat -->
        <package android:name="com.snapchat.android" />

        <!-- YouTube -->
        <package android:name="com.google.android.youtube" />

        <!-- TikTok -->
        <package android:name="com.zhiliaoapp.musically" />

        <!-- Twitch -->
        <package android:name="tv.twitch.android.app" />

        <!-- Facebook -->
        <package android:name="com.facebook.katana" />

        <!-- LinkedIn -->
        <package android:name="com.linkedin.android" />

        <!-- Web Browser intents -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>

        <!-- Phone intent -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>

        <!-- Email intent -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>

        <!-- WhatsApp custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="whatsapp" />
        </intent>

        <!-- Telegram custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>

        <!-- WeChat custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="weixin" />
        </intent>

        <!-- LINE custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="line" />
        </intent>

        <!-- Viber custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="viber" />
        </intent>

        <!-- Signal custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sgnl" />
        </intent>

        <!-- Discord custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="discord" />
        </intent>

        <!-- Instagram custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="instagram" />
        </intent>

        <!-- Twitter/X custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="twitter" />
        </intent>

        <!-- Snapchat custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="snapchat" />
        </intent>

        <!-- Twitch custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="twitch" />
        </intent>

        <!-- Facebook custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="fb" />
        </intent>

        <!-- LinkedIn custom scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="linkedin" />
        </intent>
    </queries>

    <application
        android:label="DirectFast"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
